<!-- Basado en https://codepen.io/Hiswe/pen/RMazPW -->

<div class="p-grid p-shadow-24" style="margin: 20px">
  <ul class="container">
    <li class="container__item">
      <h2 style="color: white; margin-bottom: 20px; margin-left: 10px">
        Fases Ayuntamiento
      </h2>


      <div class="stepper stepper--flexbox">
        <input
          class="stepper__input"
          id="stepper-flex-0"
          name="stepper-flex"
          type="radio"
          checked="checked"
        />
        <div class="stepper__step">
          <label class="stepper__button" for="stepper-flex-0">Solicitada</label>
          <p class="stepper__content" for="stepper-flex-0">
            {{ solicitud?.fechaSolicitud | date: "mediumDate" }}
          </p>
        </div>

        <input
          class="stepper__input"
          id="stepper-flex-1"
          name="stepper-flex"
          type="radio"
          [checked]="iniciada"
        />
        <div class="stepper__step">
          <label class="stepper__button" for="stepper-flex-1">Iniciada</label>
          <p class="stepper__content" for="stepper-flex-1">
            {{ solicitud?.fechaInicio | date: "mediumDate" }}
          </p>
        </div>

        <div>
          <span
            style="
              font-weight: bold;
              font-size: 32px;
              background-color: rgb(107, 107, 102);
              padding: 4px
            "
            [ngStyle]="{
              color: solicitud?.diasRespuesta! > 30 ? 'red' : 'black'
            }"
            >{{ solicitud?.diasRespuesta }}</span
          >
        </div>

        <input
          class="stepper__input"
          id="stepper-flex-2"
          name="stepper-flex"
          type="radio"
          [checked]="respondida"
        />
        <div class="stepper__step">
          <label class="stepper__button" for="stepper-flex-2">Respondida</label>
          <p class="stepper__content" for="stepper-flex-2">
            <span>{{ solicitud?.fechaRespuesta | date: "mediumDate" }}</span>
          </p>
        </div>

      </div>
    </li>
  </ul>
</div>
