<!-- Basado en https://codepen.io/Hiswe/pen/RMazPW -->

<div class="p-grid p-shadow-4" style="margin: 10px">
  <ul class="container">
    <li class="container__item">
      <h5 style="color: white; margin-bottom: 20px; margin-left: 10px">
        Fases respuesta Ayuntamiento posterior a reclamación Consejo Transparencia Andalucía
      </h5>


      <div class="stepper">
        <input
          class="stepper__input"
          id="stepper-flex-1"
          name="stepper-flex"
          type="radio"
          [checked]="iniciadaCTA"
        />
        <div class="stepper__step">
          <label class="stepper__button" for="stepper-flex-1">Iniciada</label>
          <p class="stepper__content" for="stepper-flex-1">
            <span>{{ solicitud?.fechaRespuestaCTA | date: "mediumDate" }}</span>
          </p>
        </div>

        <div  style="
        width: 50px">
          <!-- <span *ngIf="solicitud?.fechaRespuestaCTA" -->
          <span

            style="
              font-weight: bold;
              font-size: 32px;
              background-color: rgb(107, 107, 102);
              padding: 4px
            "
            [ngStyle]="{
              color: solicitud?.diasRespuestaAytoCTA! > 30 ? 'red' : 'black'
            }"
            >{{ solicitud?.diasRespuestaAytoCTA }}</span
          >
        </div>

        <input
          class="stepper__input"
          id="stepper-flex-2"
          name="stepper-flex"
          type="radio"
          [checked]="respondidaAytoCTA"
        />
        <div class="stepper__step">
          <label class="stepper__button" for="stepper-flex-2">Respondida</label>
          <p class="stepper__content" for="stepper-flex-2">
            <span>{{ solicitud?.fechaRespuestaAytoCTA | date: "mediumDate" }}</span>
          </p>
        </div>

      </div>
    </li>
  </ul>
</div>
