<app-navbar></app-navbar>

<div class="container">
  <div class="tituloPagina">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <h2>
          <span>Solicitudes realizadas.</span>
        </h2>
      </div>
      <div class="col-4" >
        <button class="btn btn-primary float-right" *ngIf= isAdmin>
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>Crear nueva solicitud</span>
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive col-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><span>Descripción</span></th>
          <th scope="col"><span>Fecha solicitud</span></th>
          <th scope="col"><span>Fecha respuesta</span></th>
          <th scope="col"><span>Días transcurridos</span></th>
          <th scope="col"><span>Observaciones</span></th>
        </tr>
      </thead>
      <!-- <tbody *ngIf="users"> -->
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td>{{ solicitud.descripcion }}</td>
          <td>{{ solicitud.fechaSolicitud | date: 'dd.MM.yyyy' }}</td>
          <td>{{ solicitud.fechaRespuesta | date: 'dd.MM.yyyy' }}</td>
          <td
            style="font-weight: bold"
            [ngStyle]="{
              color: solicitud.diasRespuesta! > 30 ? 'red' : 'black'
            }"
          >
            {{ solicitud.diasRespuesta }}
          </td>
          <td>{{ solicitud.observacion }}</td>

          <td class="text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-sm" [routerLink]="['/solicitudes/details', solicitud.id]">
                <fa-icon  [icon]="faEye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                queryParamsHandling="merge"
                class="btn btn-primary btn-sm"
                *ngIf = isAdmin
              >
                <fa-icon  [icon]="faPencilAlt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="button"
                (click)="delete(solicitud)"
                class="btn btn-danger btn-sm"
                *ngIf = isAdmin
              >
                <fa-icon  [icon]="faTimes"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
