<app-navbar></app-navbar>

<div class="row justify-content-center" style ="margin-top: 20px">
  <div class="col-8">
    <div *ngIf="solicitud">
      <h2 style="font-weight: bold">Detalles solicitud</h2>
      <hr />
      <dl class="row-md ">
        <dt><span solicitud.descripcion>Descripción</span></dt>
        <dd>
          <span>{{ solicitud?.descripcion }}</span>
        </dd>
        <dt><span solicitud.observacion>Observaciones</span></dt>
        <dd>
          <span>{{ solicitud?.observacion }}</span>
        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <span solicitud.fechaSolicitud style="font-weight: bold; padding-left: 10px">Fecha Solicitud:</span>
      <span>{{ solicitud?.fechaSolicitud | date: 'mediumDate' }}</span>
    </div>
    <div class="col-sm">
      <span solicitud.fechaRespuesta style="font-weight: bold; padding-left: 10px">Fecha Respuesta:</span>
      <span>{{ solicitud?.fechaRespuesta | date: 'mediumDate' }}</span>
    </div>
    <div class="col-sm">
      <span style="font-weight: bold; padding-left: 10px">Días transcurridos:</span>
      <span style="font-weight: bold" [ngStyle]="{ color: solicitud?.diasRespuesta! > 30 ? 'red' : 'black' }">
        {{ solicitud?.diasRespuesta }}
      </span>
    </div>
  </div>
</div>

<!-- Documentos asociados -->
<div class="container mt-5">
    <h5>Documentos asociados</h5>
    <button type="button" class="btn btn-primary" (click)="crearDocumento()"
    *ngIf="isAdmin"> nuevo</button>
  <div class="alert alert-warning" id="no-result" *ngIf="documentos?.length === 0">
    <span>No existen documentos</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="documentos?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <span>Descripción</span>
          </th>
          <th scope="col">
            <span>Fecha Subida</span>
          </th>
          <th scope="col"><span>Observación</span></th>
          <th scope="col"><span>Anexo</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documento of documentos; trackBy: trackId">
          <td>
            <!-- <a [routerLink]="['/documento', documento.id, 'view']">{{ documento.nombreDeDocumento }}</a> -->
          </td>

          <td>{{ documento.fechaSubida | date: 'mediumDate' }}</td>
          <td>{{ documento.observacion }}</td>

          <td>

            <!-- (click)="openFile(documento.documentoContentType, documento.documento)" -->
            <a
              *ngIf="documento.documento"
              >Abrir</a>
            <!-- <span *ngIf="documento.documento">{{ documento.documentoContentType }}, {{ byteSize(documento.documento) }}</span> -->
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Gestiones asociadas -->
<div class="container mt-5">
    <h5>Gestiones asociadas</h5>
 <button type="button" class="btn btn-primary" (click)="crearGestion()"
 *ngIf="isAdmin"> nueva</button>
  <div class="alert alert-warning" id="no-result" *ngIf="gestions?.length === 0">
    <span>No existen gestiones</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gestions?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Descripción</span> </th>
          <th scope="col"><span>Fecha</span> </th>
          <th scope="col"><span>Observación</span></th>
          <th scope="col"><span>Anexo</span></th>
        </tr>
      </thead>
      <tbody>

         <tr *ngFor="let gestion of gestions; trackBy: trackId">
          <!-- <td><a [routerLink]="['/gestion', gestion.id, 'view']">{{ gestion.id }}</a></td> -->
          <td>
            <!-- <a [routerLink]="['/gestion', gestion.id, 'view']">{{ gestion.detalle }}</a> -->
          </td>
          <!-- <td>{{ gestion.fecha | date: 'mediumDate' }}</td> -->
          <td>{{ gestion.observacion }}</td>

          <td>

            <!-- (click)="openFile(gestion.documentoContentType, gestion.documento)" -->
            <a
              *ngIf="gestion.documento"
              >Abrir</a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" style="padding-top: 60px">
  <div class="row justify-content-center">
    <div class="col-8 ">
      <button type="submit" (click)="previousState()" class="btn btn-info">
        &nbsp;<span >Atras</span>
      </button>

      <!-- <button type="button" [routerLink]="['/solicitud', solicitud?.id, 'edit']" class="btn btn-primary" > -->
      <button type="button"  class="btn btn-primary" *ngIf="isAdmin">
       &nbsp;<span >Editar</span>
      </button>
    </div>
  </div>
</div>
