@import "/src/app/scss/variables";

ul li {
    width: 16px;
    cursor: pointer;
    display: inline-block;
    font-size: 32px;
  
    &:hover {
      color: green;
    }
  }
  
  .ml160{
    margin-left: 160px
  }

  .ml20{
    margin-left: 20px
  }

  .ml100mr100{
    margin-left: 100px;
    margin-right: 100px
  }

  .bold{
    font-weight: bold; 
  }

  .boldRight{
    font-weight: bold; 
    text-align: right 
  }

    
  .boldRightCenter{
    font-weight: bold; 
    text-align: right;
    text-align: center 
  }

  
  .rating {
    font-size: 32px; 
    color: yellow
  }

  .height32{
    height: 32px;
      }