@import "/src/app/scss/variables";

.OCM-dd {
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-size: 20px;
}

.OCM-dt {
    display: block;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    // color:var(--text-color);
    color: rgb(1, 9, 44);
    // text-shadow: 0.5px 0.5px rgb(113, 183, 240);
    font-weight: bold;
    font-size: 25px;
}

.OCM-SubtituloComponent {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    display: block;
}
