<div class="p-text-center mam-tituloComponent">{{ textoCabecera }}</div>

<form [formGroup]="editForm" #formDirective="ngForm" (ngSubmit)="save()">
  <div
    class="p-grid p-shadow-24"
    style="margin-left: 100px; margin-right: 100px"
  >
    <div class="p-col-1"></div>
    <div class="p-col-5">
      <div style="margin-top: 20px">
        <label class="mam-label">Descripción</label>
        <div class="input-group">
          <input
            id="field_descripcion"
            type="text"
            class="form-control"
            formControlName="descripcion"
            style="width: 90%"
          />
        </div>
      </div>

      <div style="margin-top: 20px">
        <label class="mam-label">Fecha solicitud (aaaa-mm-dd)</label>
        <div class="input-group">
          <p-calendar
            [(ngModel)]="date"
            dateFormat="yy-mm-dd"
            [showButtonBar]="true"
            [showIcon]="true"
            formControlName="fechaSolicitud"
          ></p-calendar>
        </div>
      </div>

      <div style="margin-top: 20px">
        <label class="mam-label">Observaciones</label>
        <div class="input-group">
          <input
            id="field_descripcion"
            type="text"
            class="form-control"
            formControlName="observacion"
            style="width: 90%"
          />
        </div>
      </div>

      <div style="margin-top: 20px">
        <div class="input-group">
          <label class="mam-label" style="margin-right: 20px">Privado</label>
          <input
            type="checkbox"
            class="form-control"
            name="privado"
            id="field_privado"
            formControlName="privado"
          />
        </div>
      </div>
    </div>

    <div class="p-col-5">
      <div class="form-group">
        <div>
          <div
            *ngIf="editForm.get('documento')!.value"
            class="form-text text-danger clearfix"
          >
            <a
              class="pull-left"
              (click)="
                openFile(
                  editForm.get('documentoContentType')!.value,
                  editForm.get('documento')!.value
                )
              "
              >open</a
            >
            <!-- <fa-icon icon="eye"></fa-icon> -->
            <br />

            <span class="pull-left"
              >{{ editForm.get("documentoContentType")!.value }},
              {{ byteSize(editForm.get("documento")!.value) }}</span
            >
            <button
              type="button"
              (click)="
                editForm.patchValue({ documento: null });
                editForm.patchValue({ documentoContentType: null })
              "
              class="btn btn-secondary btn-xs pull-right"
            >
              <!-- <fa-icon icon="times"></fa-icon> -->
            </button>
          </div>

          <!-- Boton seleccionar archivo -->
          <input
            type="file"
            id="file_documento"
            (change)="setFileData($event, 'documento', false)"
          />
        </div>

        <input
          type="hidden"
          class="form-control"
          name="documento"
          id="field_documento"
          formControlName="documento"
        />
        <input
          type="hidden"
          class="form-control"
          name="documentoContentType"
          id="field_documentoContentType"
          formControlName="documentoContentType"
        />
      </div>
    </div>

    <div class="p-col-1"></div>
  </div>
</form>

<!-- Botones -->
<div class="col-1 p-shadow-24" style="margin-top: 60px; margin-bottom: 20px">
  <button
    pButton
    (click)="previousState()"
    class="p-button-rounded p-button-primary"
    type="button"
    icon="pi pi-chevron-circle-left"
    iconPos="left"
    label="Atras"
  ></button>

  <!-- [routerLink]="['/documentos/edit', documento?.id]" -->
  <button
    pButton
    class="p-button-rounded p-button-success"
    type="button"
    icon="pi pi-user-edit"
    iconPos="left"
    label="Grabar"
  ></button>

  <!-- (click)="delete(documento!)" -->
  <button
    *ngIf="isSaving"
    pButton
    class="p-button-rounded p-button-danger"
    type="button"
    icon="pi pi-trash"
    iconPos="left"
    label="Borrar"
  ></button>
</div>
