<nav class="OCM-navbar">

  <div class="OCM-navbar--brand">
    <div class="OCM-navbar--brand--logo">
      <a href="http://ocmjerez.org"></a>
    </div>
    <div class="OCM-navbar--brand--text">
      Observatorio Ciudadano Municipal de Jerez
    </div>
  </div>
  <div class="OCM-navbar--titulo">
    Solicitudes realizadas al Portal de Transparencia del Ayuntamiento de Jerez
  </div>

  <div></div> <!-- Esto es para centrar el titulo -->

  <div>
    <ul>
      <li>
        <p-splitButton *ngIf="isAdmin" label="Entidades" [model]="entidades">
        </p-splitButton>
      </li>
      <li>
        <a *ngIf="isAdmin" href="#" role="button" style="display: inline-block">
          <fa-icon [icon]="faBell" size="1x"></fa-icon>
        </a>
      </li>
      <li>
        <p-avatar *ngIf="isAdmin" image="https://imgur.com/U9nIlOB.jpg" shape="circle"></p-avatar>
        <p-avatar *ngIf="!isAdmin" image="https://i.imgur.com/C4egmYM.jpg" shape="circle"></p-avatar>
      </li>
      <li>
        <p-splitButton label="{{ userLoged }}" [model]="opciones"></p-splitButton>
      </li>
    </ul>
  </div>

</nav>