<nav class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span class="navbar-title">OCM</span> <span class="navbar-version">{{ version }}</span>
  </a>

  <!-- No se que hace esta parte -->
  <!-- <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  > -->
    <!-- <fa-icon icon="bars"></fa-icon> -->
  <!-- </a> -->
  <!--  -->

  <!-- <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()"> -->
  <div class="navbar-collapse collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <!-- <span *ngIf="router.url !== '/'"> -->
          <span >
            <!-- <fa-icon icon="home"></fa-icon> -->
            <span jhiTranslate="global.menu.home">Home</span>
          </span>
        </a>
      </li>
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->



      <!-- *jhiHasAnyAuthority="'ROLE_ADMIN'" -->
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
            <!-- <fa-icon icon="th-list"></fa-icon> -->
            <span jhiTranslate="global.menu.entities.main">
              Entidades
            </span>
          </span>
        </a>

        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="solicitud"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <!-- <fa-icon icon="asterisk" fixedWidth="true"></fa-icon> -->
              <span jhiTranslate="global.menu.entities.solicitud">Solicitudes</span>
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              routerLink="documento"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <!-- <fa-icon icon="asterisk" fixedWidth="true"></fa-icon> -->
              <span jhiTranslate="global.menu.entities.documento">Documentos</span>
            </a>
          </li>

          <li>
            <a
              class="dropdown-item"
              routerLink="gestion"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <!-- <fa-icon icon="asterisk"="true"></fa-icon> -->
              <span jhiTranslate="global.menu.entities.gestion">Gestiones</span>
            </a>
          </li>

          <!--jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>

      <!-- *jhiHasAnyAuthority="'ROLE_ADMIN'" -->
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
          <span>
            <!-- <fa-icon icon="user-plus"></fa-icon> -->
            <span jhiTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="user" [fixedWidth]="true"></fa-icon> -->
              <span jhiTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Auditoria</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Configuración</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Swagger</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Health</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Logs</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <!-- <fa-icon icon="book" [fixedWidth]="true"></fa-icon> -->
              <span>Metrics</span>
            </a>
          </li>

          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>

      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
          <!-- <span *ngIf="!getImageUrl()"> -->
            <span>
            <!-- <fa-icon icon="user"></fa-icon> -->
            <span jhiTranslate="global.menu.account.main">
              Account
            </span>
          </span>
          <!-- <span *ngIf="getImageUrl()">
            <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" />
          </span> -->
        </a>


      </li>
    </ul>
  </div>
</nav>

