<div class="footer">
  <div class="row">
   <div class="col-1"></div>
   <p-splitButton label="Save" (onClick)="save('info')"></p-splitButton>


   <div class="col-3 d-flex justify-content-start">
     <p id="textoFooter">
       <img src="'../../../assets/images/IconoOCM.png" width="30" height="30" alt="logo" class="align-bottom" />
       <!-- <img src="@images/IconoOCM.png" width="30" height="30" alt="logo" class="align-bottom" /> -->

       <span>© </span>
       <span>2020 OCM Jerez. Ver Beta 1.0.0</span>
     </p>
   </div>

   <div class="col-4 d-flex align-items-center justify-content-center">
      <!-- Instalo Font Awesone como indica en https://github.com/FortAwesome/angular-fontawesome -->
     <a href="https://www.facebook.com/OcmJerez/" style = "padding-right: 4px;" target="_blank" rel="nofollow"> <fa-icon [icon]="fabFacebook" size="2x"></fa-icon></a>
     <a href="https://twitter.com/ocmjerez" style = "padding-left: 4px;" target="_blank" rel="nofollow"> <fa-icon [icon]="fabTwitter" size="2x"></fa-icon></a>
   </div>

   <div class="col-3 d-flex justify-content-right">
     <p id="textoFooter">
       <span>Email: </span>
       <span>
         <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
       </span>
     </p>
   </div>

   <div class="col-1"></div>

 </div>
</div>

