  <div class="p-grid">
   <div class="p-col-1"></div>

   <div class="p-col-3 p-text-center">
     <p id="mam-textoFooter">
       <img src="'../../../assets/images/IconoOCM.png" width="30" height="30" alt="logo" class="align-bottom" />
       <!-- <img src="@images/IconoOCM.png" width="30" height="30" alt="logo" class="align-bottom" /> -->
       © 2021 OCM Jerez. Ver Beta 1.0.0
     </p>
   </div>

   <div class="p-col-4 p-text-center">
      <!-- Instalo Font Awesone como indica en https://github.com/FortAwesome/angular-fontawesome -->
     <a  id="mam-iconRRSS" href="https://www.facebook.com/OcmJerez/" target="_blank" rel="nofollow"> <fa-icon [icon]="fabFacebook" size="2x"></fa-icon></a>
     <a  id="mam-iconRRSS" href="https://twitter.com/ocmjerez" target="_blank" rel="nofollow"> <fa-icon [icon]="fabTwitter" size="2x"></fa-icon></a>
   </div>

   <div class="p-col-3 p-text-center">
     <p id="mam-textoFooter">
       Email:
         <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
     </p>
   </div>

   <div class="p-col-1"></div>
 </div>

