<!-- https://codepen.io/jamesbarnett/pen/vlpkh -->
<!-- https://github.com/primefaces/primeng/blob/master/src/app/components/rating/rating.ts -->
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Excelente"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Muy buena"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Muy buena"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Aceptable"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Aceptable"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Mala"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Mala"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Formato no abierto"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Falta información"></label>
    <input type="radio" id="starhalf" name="rating" value="half" (click)="half()" /><label class="half" for="starhalf" title="No contestan a lo que se pregunta"></label>
</fieldset>
